<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<h2 class="jumbotron">Form Test</h2>
<div class="container">

  <div class="form-group row">
    <label class="col-lg-1">Name</label>
    <input  class="col-lg-6 form-control" type="text" [(ngModel)]="user.name"  placeholder="Name">
  </div>
  <div class="form-group row">
    <label class="col-lg-1">Email</label>
    <input  class="col-lg-6 form-control" type="text" [(ngModel)]="user.email"  placeholder="email">
  </div>

  <div class="form-group row">
    <label class="col-lg-1 form control">Password</label>
    <input class="form-control col-lg-6" type="password" [(ngModel)]="user.password" placeholder="password">
  </div >

  <div class="form-group row">
    <button class="btn btn-primary col-lg-7" (click)="check()" >SignUp</button>
  </div>

</div>
</body>
