
@{
    ViewBag.Title = "EmpHome";
}
@Html.Partial("GreetUser");
<h2>EmpHome</h2>
<p>This is the Employee HomePage</p>
Click here to <a>Add new Employee</a>
Click here to <a>Delete Employee</a>
Click here to <a>Update Employee Data   </a>