.style1{
    height: 120px;
    overflow: hidden;
}

h3{
    font-family: "Open Sans";
    color: #005cbf;
}

#pic{
    background-image: url("apple.jpg");
    background-position: 95% 85%,50% 50%;
    background-repeat: no-repeat;
}
box{
    border: 10px;
    border-style: solid;
    box-shadow:2px 2px 2px 2px red;
    width: 2px;
}